:root {
    --p: #273238;
    --pl: #62727b;
    --pd: #102027;
    --pt: #fff;

    --s: #00c853;
    --sl: #5efc82;
    --sd: #009624;
    --st: #000;
}

body {
    background-color: var(--p);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
}
.shadow-small {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.noscroll::-webkit-scrollbar {
    display: none;
}
.noscroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.top-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100vw;
    height: 48px;
    border-bottom: 1px solid var(--s);
    background-color: var(--pd);
    color: var(--pt);
    z-index: 100;
    box-sizing: border-box;
}
.top-bar .icon {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 32px;
    transform: translate(0, -50%);
}
.top-bar .title {
    position: absolute;
    top: 50%;
    left: 42px;
    font-size: 24px;
    transform: translate(0, -50%);
}

.server-container {
    position: absolute;
    top: 48px;
    left: 0px;
    display: inline-block;
    width: 15vw;
    height: calc(100vh - 48px);
    border-right: 1px solid var(--pl);
    box-sizing: border-box;
}
.server-container .new-server-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 50;
    border: none;
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    color: var(--st);
    background-color: var(--s);
    cursor: pointer;
    transition: background-color 0.2s;
}
.server-container .new-server-button:hover {
    background-color: var(--sd);
}
.server-container .new-server-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    transform: translate(-50%, -50%);
}

.server-container .server-list {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.server-list .server-item {
    position: relative;
    margin-bottom: 5px;
    display: inline-block;
    width: calc(100% - 10px);
    border-radius: 5px;
    background-color: var(--pd);
    height: 88px;
    overflow: hidden;
}
.server-list .server-item .status {
    position: absolute;
    top: 5px;
    left: 5px;
}
.server-list .server-item .status.inactive {
    color: #db3125;
}
.server-list .server-item .status.active {
    color: var(--sd);
}
.server-list .server-item .server-name {
    position: absolute;
    top: 5px;
    left: 34px;
    color: var(--pt);
}
.server-list .server-item .subtitle {
    position: absolute;
    top: 34px;
    left: 5px;
    color: var(--pt);
    font-size: 12px;
    opacity: 0.5;
}
.server-list .server-item button {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    width: calc(100% / 3);
    height: 32px;
    transition: background-color 0.2s;
    background-color: var(--pd);
    border: none;
    cursor: pointer;
}
.server-list .server-item button span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
    color: var(--pt);
}
.server-list .server-item button:hover {
    background-color: #0b161b;
}
.server-list .server-item button.stop-start-server {
    left: 0px;
}
.server-list .server-item button.view-server {
    left: calc(100% / 3);
}
.server-list .server-item button.view-server.disabled {
    opacity: 0.4;
    pointer-events: none;
}
.server-list .server-item button.edit-server {
    right: 0px;
}

.panel {
    position: absolute;
    top: 48px;
    left: 15vw;
    display: inline-block;
    width: 85vw;
    height: calc(100vh - 48px);
}
.panel .no-server {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4em;
    transform: translate(-50%, -50%);
    color: var(--pt);
    opacity: 0.15;
    display: inline-block;
    width: fit-content;
    white-space: nowrap;
    z-index: 5;
}
.panel > div .panel-top {
    background-color: var(--p);
    border-bottom: 1px solid var(--pl);
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 40px;
    color: var(--pt);
    z-index: 50;
}
.panel > div .panel-top .material-icons {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 24px;
    transform: translate(0, -50%);
}
.panel > div .panel-top .title {
    position: absolute;
    top: 50%;
    left: 34px;
    font-size: 16px;
    transform: translate(0, -50%);
}

.panel > div .panel-content {
    position: absolute;
    top: 40px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
}

.panel > div {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--p);
    overflow: hidden;
}

.panel .new-server {
    z-index: 15;
}
.panel .new-server .jar-upload {
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: calc(100% - 30px);
    box-sizing: border-box;
    height: 30%;
    border: 2px dashed var(--pl);
    transition: background-color 0.2s, border-color 0.2s;
    border-radius: 15px;
}
.panel .new-server .jar-upload:hover {
    background-color: var(--pd);
}
.panel .new-server .jar-upload input {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
}
.panel .new-server .jar-upload .material-icons {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 2em;
    color: var(--pt);
    transform: translate(-50%, -50%);
    opacity: 0.3;
}
.panel .new-server .jar-upload .upload-title {
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 1.5em;
    color: var(--pt);
    transform: translate(-50%, -50%);
    opacity: 0.3;
}

.panel .new-server .orthis {
    position: absolute;
    top: calc(40px + 30%);
    left: 20px;
    color: white;
}
.panel .new-server .version-input {
    position: absolute;
    top: calc(30px + 30%);
    left: 50px;
    color: white;
    padding: 10px;
    background-color: var(--pl);
    color: var(--pt);
    border: none;
    border-radius: 5px;
    display: inline-block;
    height: fit-content;
    width: calc(100% - 65px);
    box-sizing: border-box;
}
.panel .new-server .version-input:focus {
    outline: none;
}

.panel .new-server .server-settings {
    position: absolute;
    top: calc(30% + 75px);
    padding: 15px;
    left: 15px;
    display: inline-block;
    width: calc(100% - 30px);
    height: calc(70% - 125px);
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: var(--pd);
    border-radius: 5px;
    padding-bottom: 5px;
}
.panel .new-server .server-settings .input {
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 32px;
    color: var(--pt);
    margin-bottom: 10px;
}
.panel .new-server .server-settings .input .material-icons {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    font-size: 24px;
}
.panel .new-server .server-settings .input .title {
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translate(0, -50%);
    font-size: 16px;
}
.panel .new-server .server-settings .input input,
.panel .new-server .server-settings .input select {
    position: absolute;
    top: 0px;
    left: 15%;
    border: none;
    font-size: 14px;
    display: inline-block;
    width: 85%;
    height: 100%;
    border-radius: 5px;
    padding: auto;
    background-color: var(--pl);
    color: var(--pt);
    padding-left: 5px;
    box-sizing: border-box;
}
.panel .new-server .server-settings .input input:focus {
    outline: none;
}

.panel .new-server .button-group {
    position: absolute;
    display: inline-block;
    width: calc(100% - 30px);
    height: 40px;
    bottom: 5px;
    left: 15px;
}
.panel .new-server .button-group button.cancel {
    background-color: #db3125;
    color: var(--pt);
    transition: background-color 0.2s;
    display: inline-block;
    width: calc(50% - 2.5px);
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.panel .new-server .button-group button.cancel:hover {
    background-color: #bd2b21;
}
.panel .new-server .button-group button.submit {
    background-color: var(--sd);
    color: var(--pt);
    transition: background-color 0.2s;
    display: inline-block;
    width: calc(50% - 2.5px);
    height: 100%;
    position: absolute;
    top: 0px;
    left: calc(50% + 2.5px);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.panel .new-server .button-group button.submit:hover {
    background-color: #00831f;
}
.panel .new-server .button-group button .material-icons {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}
.panel .new-server .button-group button .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.panel .console .terminal-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
    border: 1px solid var(--s);
    box-sizing: border-box;
    overflow: hidden;
}
.panel .console .terminal-container .log-area {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: calc(100% - 32px);
    background-color: #000;
    color: white;
    font-family: monospace;
    box-sizing: border-box;
    border-bottom: 1px solid var(--s);
    padding: 10px;
    overflow-y: scroll;
}
.panel .console .terminal-container .log-area .line {
    display: block;
}
.panel .console .terminal-container .command-input {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    width: calc(100% - 32px);
    height: 32px;
    border: none;
    background-color: var(--pd);
    color: var(--pt);
    box-sizing: border-box;
    padding-left: 34px;
    font-family: monospace;
    font-size: 16px;
    padding-top: 4px;
}
.panel .console .terminal-container .command-input:focus {
    outline: none;
}
.panel .console .terminal-container .terminal-icon {
    position: absolute;
    bottom: 4px;
    left: 5px;
    color: var(--pt);
}
.panel .console .terminal-container .send-cmd-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: none;
    background-color: var(--s);
    transition: background-color 0.2s;
    cursor: pointer;
}
.panel .console .terminal-container .send-cmd-btn:hover {
    background-color: var(--sd);
}
.panel .console .terminal-container .send-cmd-btn .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.panel .settings .server-autostart {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    width: calc(100% - 68px);
    height: 48px;
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
}
.panel .settings .autostart-shroud {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    width: calc(100% - 78px);
    height: 48px;
    background-color: #bd2b21;
    color: white;
    transition: color 0.2s, background-color 0.2s;
    border-radius: 24px;
}
.panel .settings .autostart-shroud span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.panel .settings .server-autostart:checked + .autostart-shroud {
    background-color: var(--s);
    color: var(--st);
}
.panel .settings .delete-server {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 48px;
    height: 48px;
    border: none;
    background-color: #bd2b21;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.panel .settings .delete-server:hover {
    background-color: #a0261d;
}
.panel .settings .props-edit {
    position: absolute;
    top: 68px;
    left: 10px;
    display: inline-block;
    width: calc(100% - 20px);
    height: calc(90% - 78px);
    border: 1px solid var(--s);
    background-color: var(--pd);
    color: var(--pt);
    font-family: monospace;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.panel .settings .props-edit:focus {
    outline: none;
}
.panel .settings .save-prop {
    position: absolute;
    bottom: calc(10% + 20px);
    right: 20px;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: var(--s);
    color: var(--st);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}
.panel .settings .save-prop:hover {
    background-color: var(--sd);
}
.panel .settings .save-prop .material-icons {
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel .settings .spec-settings {
    position: absolute;
    top: 90%;
    left: 10px;
    display: inline-block;
    width: calc(100% - 20px);
    height: fit-content;
}
.panel .settings .spec-settings .input {
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 32px;
    color: var(--pt);
    margin-bottom: 10px;
}
.panel .settings .spec-settings .input .material-icons {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    font-size: 24px;
}
.panel .settings .spec-settings .input .title {
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translate(0, -50%);
    font-size: 16px;
}
.panel .settings .spec-settings .input input {
    position: absolute;
    top: 0px;
    left: 15%;
    border: none;
    font-size: 14px;
    display: inline-block;
    width: calc(85% - 42px);
    height: 100%;
    border-radius: 5px;
    padding: auto;
    background-color: var(--pl);
    color: var(--pt);
    padding-left: 5px;
    box-sizing: border-box;
}
.panel .settings .spec-settings .input input:focus {
    outline: none;
}
.panel .settings .spec-settings .input .save {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 16px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--p);
    color: var(--pt);
    border: none;
    transition: background-color 0.2s;
    cursor: pointer;
}
.panel .settings .spec-settings .input .save:hover {
    background-color: var(--pd);
}
.panel .settings .spec-settings .input .save .material-icons {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
